<html lang="en">
<head>
    <title>Formulario</title>
</head>
<body>
    <h1>Operaciones con numeros</h1>
    <form action="" method="POST">
        <label>Numero1</label>
        <input type="number" id="numero" name="numero"><br>
        <label>Numero2</label>
        <input type="number" id="numero2" name="numero2"><br>
        <button type="submit" name="operacion" value="suma">suma</button>
        <button type="submit" name="operacion" value="resta">Resta</button>
        <button type="submit" name="operacion" value="division">division</button>
        <button type="submit" name="operacion" value="multiplicacion">multiplicacion</button>
    </form>
</body>
</html>